body{
	display:flex;
	align-items:center;
	justify-content:center;
	height:100vh;
}
#card-body{
	display:flex;
	width:100%;
	box-sizzing:border-box;
	box-shadow: -2px 5px 15px 2px;
	height:80%;
}
#card-img{
	width:100%;
}
/*  your css code here. If applicable */
